@charset "utf-8";

html{
    box-sizing: border-box;
}
*, *::before, *::after{
    box-sizing:inherit;
}
html, body{
    height:100%;
    margin:0;
}
body{
    font-family:"Cabin Sketch", Arial, sans-serif;
    background-image: url("../img/Field.jpg");
    background-size: cover;
}
header{
    background-image: url("../img/Tigerstripes.jpg");
    text-align:center;
    color:white;
}
header h1{
    font-family:"Arial Bold", sans-serif;
    margin-bottom:0;
}
header p {
    font-family: "Arial";
    margin-top:0;
}
main{
    border: 2px solid black;
    background-image: url("../img/Paper.jpg");
    width:80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: stretch;
}
main h2{
    background:beige;
    font-family:"Londrina Sketch", Arial, sans-serif;
    margin-top:0;
    margin-bottom:0;
}
main section{
    flex-basis: 60%;
}
main section p{
    margin-top:0;
    margin-left:2px;
    margin-bottom:0;
}
main aside {
    border-left: 2px solid black;
    flex-basis: 40%;
}
main aside img{
    display:block;
    margin: 0 auto;
    margin-bottom: 10px;
}
footer{
    border-left: 2px solid black;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
    width:80%;
    margin: 0 auto;
    background-image: url("../img/Paper.jpg");
}
footer h2{
    font-family:"Londrina Sketch", Arial, sans-serif;
    margin:0;
    background: beige;
}
footer ul{
    margin-top:0;
    list-style-type:none;
    padding: 2px;
}
.cabin-sketch-regular {
  font-family: "Cabin Sketch", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.londrina-sketch-regular {
  font-family: "Londrina Sketch", Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
}