@charset "utf-8";

table{
    /*Gives the table a nice border.*/
    border-collapse:collapse;
    width:100%;
    table-layout:auto;
}
td, th{
    /*Emphasizes the headings in the table. */
    border:1px solid black;
    padding:0.5em;
}
/*To be closer to the caption. */
header h1{
    margin:0;
}
/*So that it's aligned left to the table and bigger. I think it looks nicer. */
caption{
    text-align:left;
    font-size:150%;
}