@charset "UTF-8";

html{
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
*, *::before, *::after{
    box-sizing:inherit;
}

#container{
    width:80%;
    margin: 0 auto;
    padding: 20px;
}
main{
    display: flex;
    flex-wrap: wrap;
    align-items:stretch;
    border: 1px solid black;
    border-bottom:none;
    border-top:none;
    column-gap: 10%;
}
header{
    border:1px solid black;
    border-bottom: none;
}
header h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 60px;
    text-transform: lowercase;
    line-height:1;
    margin:0;
}
header h1 em{
    color: rgb(224, 49, 49);
    font-style: normal;
}
header p{
    text-transform:uppercase;
    letter-spacing:2px;
    margin-bottom:5px;
}
article h2{
    font-size: 40px;
}
article:first-of-type h2{
    color: red;
    font-size:40px;
    margin-bottom:0;
}
article:first-of-type img{
    float:right;
    width:75%;
    margin-top:-108px;
    margin-right:-9px;
}
@media (max-width: 750px){
    article:first-of-type img{
        float:none;
        width:100%;
        margin: 0 0 10px 0;
    }
}
@media(min-width:1500px){
    article:first-of-type img{
        float:right;
        width:50%;
    }
}
article{
    flex: 0 0 40%;
    padding: 10px;
}
article:nth-of-type(1){
    order:0;
}
article:nth-of-type(1) p{
    margin:0;
}
article:nth-of-type(2){
    order:2;
}
article img{
    width: 100%;
    height: auto;
}
aside{
    flex: 0 0 40%;
}
aside:nth-of-type(1){
    order:-1;
    font-size: 1.5em;
    text-align:center;
}
aside:nth-of-type(1) p{
    max-width:250px;
    margin: 0 auto;
}
aside:nth-of-type(2){
    background-color: lightgray;
    order:1;
    padding: 15px;
    align-items:stretch;
}
li::marker{
    content: "+ ";
    color: grey;
    font-size: 20px;
}
a{
    color: black;
    text-decoration: none;
    font-weight:bold;
}
footer{
    border-top: 1px solid black;
    word-spacing:0;
}
footer p small em{
    font-weight:bolder;
    font-style: normal;
}
abbr[title]{
    font-weight:bolder;
    text-decoration: none;
}
