@charset "UTF-8";
/*
 * [Modified] Modern CSS Reset
 * @link https://github.com/hankchizljaw/modern-css-reset
*/
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  font-size: 100%;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  overflow-x: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

/* Make images easier to work with */
img {
  display: block;
  max-width: 100%;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
body{
    text-align: center;
    background-image: url("../img/catpaws.svg");
    /*https://www.freepik.com/free-vector/adorable-paw-print-pattern-background-perfect-kids-animal-lover-vector_79642632.htm#fromView=search&page=1&position=1&uuid=18d5b1f2-76e7-414a-aeba-25cb61ed1223&query=paws+background */

}
h1{
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 4rem;
    font-family: Impact;
    letter-spacing: 4px;
    color: rgb(204, 86, 106);
    background: linear-gradient(rgb(255, 255, 255), rgb(255, 184, 184));
    border-radius: 15px;
    border: solid rgb(255, 128, 149);
    filter: drop-shadow(rgb(255,128,149) 0px 5px 5px);
    /*https://developer.mozilla.org/en-US/docs/Web/CSS/Reference/Values/filter-function/drop-shadow*/
}
div.container > h2{
    font-size: smaller;
    margin-top: 10px;
    background-color: rgb(255,128,149);
    color:rgb(139, 53, 67);
}
a{
    color:purple;
}
svg{
    height: 20px;
}
nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}
nav ul a{
    display: inline-grid;
    padding: 0.5rem;
    margin: 2px;
    text-decoration: none;
}
nav > ul > li > a{
    background: linear-gradient(rgb(255,255,255), rgb(255,184,184));
    border-radius: 15px;
    color: rgb(204,86,106);
    border: 2px solid rgb(255,128,149);
}
section:first-of-type > h2, section:nth-of-type(2) > h2{
    display: inline-block;
    margin-top: 0;
    padding: 0 20px;
    background-color: white;
    border: solid rgb(255, 128, 149);
    border-radius: 15px;
}
section{
    width: 80%;
    display:inline-block;
    background: linear-gradient(white, rgb(255,184,184));
    margin-bottom: 20px;
    border: solid rgb(255,128,149);
    border-radius: 15px;
}
section ul{
    padding:0;
    margin:0;
}
section ul li{
    display:inline-block;
    background-color: white;
    padding:5px;
    margin:2px;
    border: solid rgb(255,128, 149);
    border-radius: 15px;
    list-style-type: none;
}
section{
    padding:10px;
}